body {
  font-family: Arial;
  background: #0a0d14;
  color: white;
}

.app {
  width: 80%;
  margin: auto;
}

.card {
  background: #111827;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #333;
}

.normal {
  color: #00ff99;
  font-weight: bold;
}

.attack {
  color: red;
  font-weight: bold;
}

button {
  padding: 10px;
  background: #0369a1;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background: #0284c7;
}